.App {
  background: linear-gradient(
    107.6deg,
    rgb(177, 173, 219) 11.2%,
    rgb(245, 226, 226) 91.1%
  );
  background-repeat: no-repeat;
  text-align: center;
  margin: 100px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
